/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.192);
  box-shadow: var(--shadow-ambient--primary);
  padding: 0rem 2rem;
  height: 6.4rem;
}

nav h2 {
  flex: 50%;
  color: var(--background_secondary);
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
}

/* Main content */
main {
  padding: 0px 2rem;
}

.content {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.192);
  max-width: 96rem;
  margin: 3rem auto;
  padding: 2rem 3rem;
  border-radius: 1rem 6rem 1rem 0rem;
  box-shadow: 0.1rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

li {
  padding: 0.2rem 0.1rem 0.2rem 0.2rem;
  background: var(--background_primary);
  font-size: 2rem;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #e6e6e6;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.todo-text {
  width: 100%;
  border-radius: 0.5rem;
}
.todo-text p {
  padding: 0 1rem;
}

.todo-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.todo-check {
  flex: 3;
}

.todo-check span {
  width: 3rem;
  height: 3rem;
  background-color: var(----background-primary);
}

.todo-edit-del {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 67px;
}
.todo-check,
.edit,
.delete {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: -0.5rem;
}

.delete {
  margin-right: -0.8rem;
}

.delete img {
  width: 3rem;
  margin-left: 0.5rem;
}
.todo-check img,
.edit img {
  width: 2.2rem;
}

.form {
  display: flex;
}

.form input {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eee;
  margin: 0 1%;
  padding: 1rem;
  display: block;
  box-sizing: border-box;
  font-size: 1.8rem;
  flex-grow: 1;
  border-radius: 1rem;
}

.form input:focus {
  outline: none;
  border-bottom: 0.3rem solid #1eae98;
  transition: all ease 0.2s;
}

.user-content,
#signout,
#signin {
  display: none;
}

/* Ej inloggadd */

.nouser-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nouser-todo-item {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
}
